Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-pyrightconfig, synchronize-params, pytest-fast-only

local-pyrightconfig:
  name: local-pyrightconfig
  language: system
  entry: pwsh -Command python .tools/scripts/local_dev_configs.py

synchronize-params:
  name: synchronize-params
  language: system
  entry: pwsh -Command python -m notes.models.params

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

Fix pwsh problem matcher and template script watcher
  .vscode/tasks.json
  dev.ps1
  justfile
  scripts/Format-Changes.ps1
  scripts/Format-TemplateScript.ps1
  scripts/Watch-TemplateScripts.ps1
Due: none

Fix `endsPattern`
  .vscode/tasks.json
Due: none

Avoid extraneous path modifications in vault. Vault does this via Shell Commands extension
  dev.ps1
  justfile
Due: none

Update pre-commit local commands
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

Implement Pomodouroboros At Home
  .pre-commit-config.yaml
  .vscode/settings.json
  pyproject.toml
  requirements/requirements_dev.txt
  src/notes/pomodouroboros_at_home.py
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Refactor
  .vscode/settings.json
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Sync vault note tracking overflow tasks in bullet list
  .vscode/settings.json
  notebooks/sync_bullet_overflow.ipynb
  packages/pipeline/notes_pipeline/stages/sanitize_source_tags.py
  pyproject.toml
  requirements/requirements_dev.txt
  src/notes/bullet.py
  src/notes/datetime.py
  src/notes/markdown.py
  src/notes/pomodouroboros_at_home.py
  src/notes/sanitize_source_tags.py
  src/notes/todo.py
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Link synced bullet list note to related tasks in notes, prompt pomodoro success at break time
  .vscode/settings.json
  notebooks/sync_bullet_overflow.ipynb
  src/notes/pomodouroboros_at_home.py
  src/notes/times.py
Due: pytest-fast-only

Combine pom break and success prompts, introduce begin prompt
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Bump uv
  .github/workflows/ci.yml
  .github/workflows/release.yml
  lock.json
Due: none

Fix missing newline
  notebooks/sync_bullet_overflow.ipynb
Due: none

Update timer textbox locator
  pyproject.toml
  src/notes/pomodouroboros_at_home.py
Due: local-pyrightconfig, pytest-fast-only

Move template scripts
  justfile
  scripts/Watch-TemplateScripts.ps1
  tsconfig.json
Due: none

Switch to janky Toggl desktop automation
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Allow cancellation
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Fix click coordinates
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Record the period excluding the break
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Refactor to permit early breaks
  src/notes/pomodouroboros_at_home.py
  src/notes/todo.py
Due: pytest-fast-only

Don't always update uv, we're going to update from template soon anyways
  dev.ps1
  justfile
Due: none

Clarify setting
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Fix break handling
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Stop running task without stopping the Pomodoro
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Use `pywin32` instead of AutoIt.
  pyproject.toml
  requirements/requirements_dev.txt
  src/notes/pomodouroboros_at_home.py
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Update default stop time
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Add break offset to avoid race
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Implement Sunshine-dependent poms, new Obsidian template, configs
  .prettierrc.yaml
  .vscode/settings.json
  .vscode/tasks.json
  dev.ps1
  justfile
  notebooks/sunshine.ipynb
  notebooks/sync_bullet_overflow.ipynb
  package-lock.json
  package.json
  pyproject.toml
  scripts/Watch-TemplateScripts.ps1
  src/notes/pomodouroboros_at_home.py
  src/notes/todo.py
  templates/getTimeTrackingEntry.ts
  templates/getToDo.ts
  tsconfig.json
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Update templates
  notebooks/sync_bullet_overflow.ipynb
  src/notes/pomodouroboros_at_home.py
  templates/getTimeTrackingEntry.ts
  templates/getToDo.ts
Due: pytest-fast-only

Update ci.yml
  .github/workflows/ci.yml
Due: none

Template monthly expenses to-do list
  package-lock.json
  package.json
  templates/getExpenses.ts
  templates/types.ts
Due: none

Extract ID incrementer, make bullets into to-dos
  templates/getExpenses.ts
Due: none

Add note
  templates/getExpenses.ts
Due: none

Fix ruff and pyright local checks. Fix type errors
  .vscode/tasks.json
  docs/conf.py
  pyproject.toml
  src/notes/markdown.py
  src/notes/pomodouroboros_at_home.py
Due: local-pyrightconfig, pytest-fast-only

Remove unused branch
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Sync bullet list
  .pre-commit-config.yaml
  notebooks/sync_bullet_list.ipynb
Due: none

Sync bullet list
  notebooks/sync_bullet_list.ipynb
Due: none

Change notebook to automatically run on today's export
  notebooks/sync_bullet_list.ipynb
Due: none

End the day early if there isn't a complete work period after the break
  justfile
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Report Pomodoro beginnings
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Fix report when there is only one Pomodoro
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Path conditions:
  local-pyrightconfig: any of: (?x)^(
  pyproject\.toml
  |\.tools/scripts/local_dev_configs.py
)$

  synchronize-params: any of: (?x)^(
  src/notes/models/.*
  |params.yaml
)$

  pytest-fast-only: any of: (?x)^(
  pyproject\.toml
  |src/.*
  |tests/.*
  |\.tools/requirements/.*
)$

