Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-pyrightconfig, synchronize-params, pytest-fast-only

.pre-commit-config.yaml:

ci:
  skip:
    # * ---------------------------------------------------------------------------- * #
    - "local-pyrightconfig"
    - "synchronize-params"
    # * ---------------------------------------------------------------------------- * #
    - "core-update"
    - "pytest-fast-only"
    - "check-undeclared"
    - "check-unused"
  autoupdate_schedule: "quarterly"

repos:
  - repo: "meta"
    hooks:
      # ? Enable this to ensure each hook runs against at least one file
      # - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      # * -------------------------------------------------------------------------- * #
      - id: "local-pyrightconfig"
        name: "local-pyrightconfig"
        language: "system"
        entry: "pwsh -Command python .tools/scripts/local_dev_configs.py"
        files: |
          (?x)^(
            pyproject\.toml
            |\.tools/scripts/local_dev_configs.py
          )$
      - id: "synchronize-params"
        name: "synchronize-params"
        language: "system"
        entry: "pwsh -Command python -m notes.models.params"
        files: |
          (?x)^(
            src/notes/models/.*
            |params.yaml
          )$
      # * -------------------------------------------------------------------------- * #
      - id: "core-update"
        name: "core-update"
        stages: ["post-commit"]
        always_run: true
        pass_filenames: false
        language: "system"
        entry: "pwsh -Command python .tools/scripts/core_update.py"
      - id: "pytest-fast-only"
        name: "pytest-fast-only"
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "pytest -m 'not slow' --suppress-no-test-exit-code"
        files: |
          (?x)^(
            pyproject\.toml
            |src/.*
            |tests/.*
            |\.tools/requirements/.*
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/tweag/FawltyDeps"
    rev: "v0.15.0"
    hooks:
      - id: "check-undeclared"
        files: |
          (?x)^(
            src/.*
          )$
      - id: "check-unused"
        files: |
          (?x)^(
            pyproject\.toml
          )$
  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.11.0"
    hooks:
      - id: "markdownlint-cli2-fix"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "3.2.0"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-notebook-metadata"
          - "--preserve-cell-metadata"
          - "tags"
          - "--"
        files: |
          (?x)^(
            src/.*
            |docs/.*
            |tests/.*
          )$
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.3.5"
    hooks:
      - id: "ruff"
        types_or: ["python", "pyi", "jupyter"]
      - id: "ruff-format"
        types_or: ["python", "pyi", "jupyter"]

Bump uv
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .uv-version
Due: none

Prepare to document setup
  .vscode/tasks.json
  docs/2024-11-12T14-25-57-set-up-amsl-obsidian-vault.md
  docs/index.md
  docs/pork-beans-and-greens.md
  pyproject.toml
  requirements/requirements_dev.txt
  tests/conftest.py
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Remove cachier
  .gitmodules
Due: none

Remove outdated dev requirements
  .gitmodules
  packages/_dev/notes_dev/tests.py
  packages/_dev/notes_dev/tools/warnings.py
  pyproject.toml
  requirements/requirements_dev.txt
  src/notes/models/params.py
  src/notes/models/paths.py
  tests/conftest.py
  tests/test_notes.py
  uv.lock
Due: local-pyrightconfig, synchronize-params, pytest-fast-only

Fix pre-commit
  scripts/better_bibtex_preferences.json
Due: none

Sync params
  dvc.yaml
  params.yaml
  pyproject.toml
  src/notes/models/params.py
  uv.lock
Due: local-pyrightconfig, synchronize-params, pytest-fast-only

Sync settings
  dvc.lock
  params.yaml
Due: synchronize-params

Split pipeline stages into own package
  .vscode/tasks.json
  packages/pipeline/notes_pipeline/__init__.py
  packages/pipeline/notes_pipeline/models/__init__.py
  packages/pipeline/notes_pipeline/models/params.py
  packages/pipeline/notes_pipeline/models/paths.py
  packages/pipeline/notes_pipeline/stages/__init__.py
  packages/pipeline/notes_pipeline/stages/sanitize_source_tags.py
  packages/pipeline/notes_pipeline/stages/sync_settings.py
  packages/pipeline/pyproject.toml
  params.yaml
  pyproject.toml
  requirements/requirements_dev.txt
  src/notes/__init__.py
  src/notes/markdown.py
  uv.lock
Due: local-pyrightconfig, synchronize-params, pytest-fast-only

Move manual stages
  packages/pipeline/notes_pipeline/manual/__init__.py
  packages/pipeline/notes_pipeline/manual/refactor_heading.py
  packages/pipeline/notes_pipeline/manual/sanitize_source_tags.py
  packages/pipeline/notes_pipeline/manual/sort_json.py
Due: none

Remove unnecessary dependencies
  .pre-commit-config.yaml
  packages/pipeline/pyproject.toml
  uv.lock
Due: none

Sync docs with note about repo setup
  .vscode/tasks.json
  docs/2024-11-12T14-25-57-set-up-amsl-obsidian-vault.md
  docs/conf.py
  dvc.lock
  dvc.yaml
  packages/pipeline/notes_pipeline/models/paths.py
  packages/pipeline/notes_pipeline/stages/sync_docs.py
  params.yaml
Due: synchronize-params

Exclude local hook from running in CI
  .pre-commit-config.yaml
Due: none

Change line ending
  dvc.lock
Due: none

Specify LF eol
  .gitattributes
Due: none

Fix line endings
  .pre-commit-config.yaml
Due: none

Uninstall Obsidian Pandoc plugin
  dvc.yaml
  params.yaml
Due: synchronize-params

Remove Coverage Gutters
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  requirements/requirements_dev.txt
Due: none

Quit watching when quitting Obsidian
  justfile
  scripts/notes.ps1
Due: none

Implement hacky process killing
  justfile
  scripts/notes.ps1
Due: none

Make tasks less verbose
  .vscode/tasks.json
Due: none

Fix task script invocations
  .vscode/tasks.json
Due: none

Bump uv
  .uv-version
Due: none

Remove outdated workflow
  .github/workflows/locks.yml
Due: none

Compile Obsidian Templater templates from TypeScript
  .gitmodules
  .vscode/settings.json
  dev.ps1
  eslint.config.mjs
  justfile
  package-lock.json
  package.json
  pyproject.toml
  requirements/requirements_dev.txt
  templates/getTimeTrackingEntry.ts
  tsconfig.json
Due: local-pyrightconfig, pytest-fast-only

Build `packages/obsidian-templater/main.d.ts`
  .vscode/settings.json
  package.json
Due: none

Fix `templater-obsidian` build
  .vscode/settings.json
  templates/getTimeTrackingEntry.ts
Due: none

Remove a few packages
  package-lock.json
Due: none

Prepare to debug
  .vscode/launch.json
  package.json
  templates/getTimeTrackingEntry.ts
  tsconfig.json
Due: none

Build on commit
  .pre-commit-config.yaml
Due: none

Fix outdated Ruff error code
  pyproject.toml
Due: local-pyrightconfig, pytest-fast-only

Remove outdated test config
  .vscode/launch.json
Due: none

Run pytest in background as files change
  .gitignore
  .vscode/tasks.json
  pyproject.toml
  requirements/requirements_dev.txt
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Disable Sourcery AI fix suggestions
  .vscode/settings.json
Due: none

Fix pytest background task
  .gitignore
  .prettierignore
  .vscode/tasks.json
Due: none

Compile TypeScript and test on launch
  .pre-commit-config.yaml
  .vscode/tasks.json
  package-lock.json
  package.json
  pyproject.toml
  requirements/requirements_dev.txt
  tests/test_notes.py
  tsconfig.json
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Fix startup tasks, implement automatic formatting watcher
  .all-contributorsrc
  .prettierignore
  .renovaterc.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  data/deprecated/csl_models.py
  justfile
  package.json
  packages/_dev/notes_dev/docs/docstrings.py
  pyproject.toml
  scripts/Format-Changes.ps1
  src/notes/generate_report.py
  tsconfig.json
Due: local-pyrightconfig, pytest-fast-only

Simplify build task
  .vscode/tasks.json
  tsconfig.json
Due: none

Implement TypeScript compilation of Obsidian Templater user scripts
  .vscode/tasks.json
  pyproject.toml
  requirements/requirements_dev.txt
  scripts/Format-Changes.ps1
  templates/cite.ts
  templates/getSelOrClip.ts
  templates/getTimeTrackingEntry.ts
  templates/templater.ts
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Source types directly from Templater code generator signatures
  scripts/Format-Changes.ps1
  templates/cite.ts
  templates/getSelOrClip.ts
  templates/getTimeTrackingEntry.ts
  templates/templater.ts
  templates/types.ts
Due: none
