Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-pyrightconfig, synchronize-params, pytest-fast-only

local-pyrightconfig:
  name: local-pyrightconfig
  language: system
  entry: pwsh -Command python .tools/scripts/local_dev_configs.py

synchronize-params:
  name: synchronize-params
  language: system
  entry: pwsh -Command python -m notes.models.params

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

Get pom periods once at the start, rearrange function order below main
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Connect pomodoros to CLI
  src/notes/__main__.py
  src/notes/cli.py
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Fix Pomodoro periods
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Fix default invocation
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Test Pomodoro actions
  .vscode/tasks.json
  justfile
  src/notes/pomodouroboros_at_home.py
  tests/conftest.py
  tests/test_canary.py
  tests/test_pomodouroboros_at_home.py
Due: pytest-fast-only

Fix inversion of query that matches all records by specifying `na=False`
  notebooks/sync_bullet_list.ipynb
Due: none

Fix typo
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Add distraction checking
  pyproject.toml
  requirements/requirements_dev.txt
  src/notes/cli.py
  src/notes/pomodouroboros_at_home.py
  src/notes/toggl.py
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Simplify distraction tracking and other control flow
  src/notes/cli.py
  src/notes/pomodouroboros_at_home.py
  tests/test_pomodouroboros_at_home.py
Due: pytest-fast-only

Reuse "end" in loop
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Handle breaks
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Update pomodouroboros_at_home.py
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Sync with Toggl intents and Pomodoro periods
  requirements/requirements_dev.txt
  src/notes/cli.py
  src/notes/pomodouroboros_at_home.py
  src/notes/toggl.py
Due: pytest-fast-only

Implement intent and distraction questions, focus ratio
  src/notes/cli.py
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Refactor Pomodoro logic, click mouse given displays and resolutions
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Update records after check instead of before. Use same "now" when updating records. Split compound intents at end of day.
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Factor out main loop logic into functions. Only update the intents file minimally
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Annotate temporarily in preparation for conversion to state machine
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Use `pywin32` instead of Toggl database to check the active window
  pyproject.toml
  src/notes/pomodouroboros_at_home.py
  src/notes/toggl.py
  src/notes/win.py
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Ensure there is always one Pomodoro, even if we're past `day_end`. Make time inequalities clearer.
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Track breaks and optional rewards
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Split compound intents when getting default intent
  src/notes/pomodouroboros_at_home.py
Due: pytest-fast-only

Synchronize plans and intents, moving old items on subsequent days
  data/deprecated/.gitignore
  data/local/.gitignore
  eslint.config.mjs
  packages/pipeline/notes_pipeline/models/paths.py
  packages/pipeline/notes_pipeline/stages/sync_plans.py
  params.yaml
  src/notes/markdown.py
  src/notes/pomodouroboros_at_home.py
  src/notes/serialization.py
  src/notes/times.py
Due: synchronize-params, pytest-fast-only

Update plan syncing, check lists, fix time tracking entry template and file watcher
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/settings.json
  docs/concurrency-in-python/logs.ipynb
  notebooks/get_lists.ipynb
  packages/pipeline/notes_pipeline/stages/sync_plan.py
  packages/pipeline/notes_pipeline/stages/sync_plans.py
  packages/pipeline/pyproject.toml
  params.yaml
  pyproject.toml
  requirements/requirements_dev.txt
  scripts/Watch-TemplateScripts.ps1
  src/notes/literature_common.py
  src/notes/times.py
  templates/getTimeTrackingEntry.ts
  uv.lock
Due: local-pyrightconfig, synchronize-params, pytest-fast-only

Sync lists when updating plan
  packages/pipeline/notes_pipeline/stages/sync_plan.py
  packages/pipeline/notes_pipeline/sync_lists.py
Due: none

Coalesce common operations, embed dataview query
  .vscode/settings.json
  packages/pipeline/notes_pipeline/stages/sync_plan.py
  packages/pipeline/notes_pipeline/sync_lists.py
  pyproject.toml
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Reload after syncing plan, otherwise Obsidian Tasks de-syncs and warns when modifying task dependencies
  packages/pipeline/notes_pipeline/stages/sync_plan.py
Due: none

Allow alphanumeric IDs
  templates/getTimeTrackingEntry.ts
Due: none

Allow getting the ID only or the entry and its ID
  templates/getEntry.ts
  templates/getEntryId.ts
Due: none

Strip links even when just getting entry ID
  packages/pipeline/notes_pipeline/models/paths.py
  params.yaml
  templates/getEntryId.ts
Due: synchronize-params

Bump Sourcery
  pyproject.toml
  requirements/requirements_dev.txt
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Make eight new templates including meta template to test all other temlates. Refactor common logic out of existing templates. Express types with less repetition.
  params.yaml
  templates/getChoice.ts
  templates/getDateFmt.ts
  templates/getDatetimeFmt.ts
  templates/getEntry.ts
  templates/getEntryGroups.ts
  templates/getEntryId.ts
  templates/getExpenses.ts
  templates/getFilenameDatetimeFmt.ts
  templates/getTimeFmt.ts
  templates/invokedFromTemplaterCreate.ts
  templates/testUserTemplates.ts
  templates/types.ts
Due: synchronize-params

Rename `types.ts` to `index.d.ts`
  .vscode/settings.json
  justfile
  templates/cite.ts
  templates/getChoice.ts
  templates/getDatetimeFmt.ts
  templates/getEntry.ts
  templates/getEntryGroups.ts
  templates/getEntryId.ts
  templates/getExpenses.ts
  templates/getFilenameDatetimeFmt.ts
  templates/getSelOrClip.ts
  templates/getToDo.ts
  templates/index.d.ts
  templates/invokedFromTemplaterCreate.ts
  templates/testUserTemplates.ts
Due: none

Add `getChoice` test
  templates/testUserTemplates.ts
Due: none

Replace all colons in datetime
  templates/getFilenameDatetimeFmt.ts
  tsconfig.json
Due: none

Try bumping to ES2022
  tsconfig.json
Due: none

Rename types declaration file
  templates/cite.ts
  templates/getChoice.ts
  templates/getDatetimeFmt.ts
  templates/getEntry.ts
  templates/getEntryGroups.ts
  templates/getEntryId.ts
  templates/getExpenses.ts
  templates/getFilenameDatetimeFmt.ts
  templates/getSelOrClip.ts
  templates/getToDo.ts
  templates/invokedFromTemplaterCreate.ts
  templates/testUserTemplates.ts
  templates/types.d.ts
Due: none

Single-source type imports
  templates/cite.ts
  templates/getChoice.ts
  templates/getDatetimeFmt.ts
  templates/getEntry.ts
  templates/getEntryGroups.ts
  templates/getEntryId.ts
  templates/getExpenses.ts
  templates/getFilenameDatetimeFmt.ts
  templates/getSelOrClip.ts
  templates/getToDo.ts
  templates/invokedFromTemplaterCreate.ts
  templates/testUserTemplates.ts
  templates/types.d.ts
Due: none

Path conditions:
  local-pyrightconfig: any of: (?x)^(
  pyproject\.toml
  |\.tools/scripts/local_dev_configs.py
)$

  synchronize-params: any of: (?x)^(
  src/notes/models/.*
  |params.yaml
)$

  pytest-fast-only: any of: (?x)^(
  pyproject\.toml
  |src/.*
  |tests/.*
  |\.tools/requirements/.*
)$

