Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Path conditions:
  fawltydeps-src: any of: (?x)^(
  pyproject\.toml
  |src/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  fawltydeps-dev: any of: (?x)^(
  packages/_dev/.*
  |docs/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  fawltydeps-pipeline: any of: (?x)^(
  packages/pipeline/pyproject\.toml
  |docs/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$


Quick and dirty fix for invokedFromTemplaterCreate.ts
  templates/invokedFromTemplaterCreate.ts
Due: none

Restate the conditional more clearly
  templates/invokedFromTemplaterCreate.ts
Due: none

Fix path
  packages/pipeline/notes_pipeline/models/paths.py
Due: none

Update params
  params.yaml
Due: none

Fix plan sync
  packages/pipeline/notes_pipeline/stages/sync_plan.py
  packages/pipeline/notes_pipeline/sync_lists.py
Due: none

Add shortcuts
  dev.ps1
  justfile
  packages/_dev/pyproject.toml
  packages/my_shortcuts/my_shortcuts/__init__.py
  packages/my_shortcuts/my_shortcuts/__main__.py
  packages/my_shortcuts/my_shortcuts/actions.py
  packages/my_shortcuts/my_shortcuts/cli.py
  packages/my_shortcuts/my_shortcuts/commands.py
  packages/my_shortcuts/my_shortcuts/models.py
  packages/my_shortcuts/pyproject.toml
  packages/pipeline/pyproject.toml
  pyproject.toml
  requirements/requirements_dev.txt
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Imlement file/folder tasks difference
  templates/getToDo.ts
Due: none

Implement proof of concept diff for Obsidian notes
  packages/pipeline/notes_pipeline/stages/diff_note.py
  pyproject.toml
  requirements/requirements_dev.txt
  uv.lock
Due: fawltydeps-src, pytest-fast-only

Fix after updating from template
  .github/workflows/env.yml
  .gitignore
  .gitmodules
  .justfile
  .vscode/tasks.json
  Invoke-Just.ps1
  dvc.yml
  j.ps1
  justfile
  lock.json
  params.yaml
  params.yml
  scripts/Format-TemplateScript.ps1
  scripts/Watch-TemplateScripts.ps1
  scripts/common.just
  scripts/notes.ps1
  scripts/proj.just
  src/notes/watch.py
  uv.lock
Due: fawltydeps-src, pytest-fast-only

Fix ignores
  data/.gitignore
  data/deprecated/.gitignore
Due: none

Merge pipeline
  .vscode/settings.json
  packages/_pipeline-helper/src/pipeline_helper/models/column.py
  packages/_pipeline-helper/src/pipeline_helper/models/column/types.py
  packages/_pipeline-helper/src/pipeline_helper/models/contexts/__init__.py
  packages/_pipeline/pyproject.toml
  packages/_pipeline/src/notes_pipeline/__init__.py
  packages/_pipeline/src/notes_pipeline/data.py
  packages/_pipeline/src/notes_pipeline/manual/__init__.py
  packages/_pipeline/src/notes_pipeline/manual/refactor_heading.py
  packages/_pipeline/src/notes_pipeline/manual/sanitize_source_tags.py
  packages/_pipeline/src/notes_pipeline/manual/sort_json.py
  packages/_pipeline/src/notes_pipeline/models/params.py
  packages/_pipeline/src/notes_pipeline/models/paths.py
  packages/_pipeline/src/notes_pipeline/stages/diff_note.py
  packages/_pipeline/src/notes_pipeline/stages/sanitize_source_tags.py
  packages/_pipeline/src/notes_pipeline/stages/sync_docs.py
  packages/_pipeline/src/notes_pipeline/stages/sync_plan.py
  packages/_pipeline/src/notes_pipeline/stages/sync_settings.py
  packages/_pipeline/src/notes_pipeline/sync_lists.py
  packages/pipeline/notes_pipeline/__init__.py
  packages/pipeline/notes_pipeline/models/__init__.py
  packages/pipeline/notes_pipeline/stages/__init__.py
  packages/pipeline/pyproject.toml
  pyproject.toml
  uv.lock
Due: fawltydeps-src, fawltydeps-pipeline, pytest-fast-only

Make week plan
  packages/_pipeline/src/notes_pipeline/stages/plan_week.py
Due: none

Shift priority to Friday, handle no/empty priority
  packages/_pipeline/src/notes_pipeline/stages/plan_week.py
Due: none

Move some Dataview scripts into Templater
  .vscode/settings.json
  scripts/Format-TemplateScript.ps1
  scripts/Watch-TemplateScripts.ps1
  templates/getTasks.ts
  templates/taskBlock.ts
  templates/testUserTemplates.ts
  templates/types.d.ts
Due: pytest-fast-only

Update week plan
  packages/_pipeline/pyproject.toml
  packages/_pipeline/src/notes_pipeline/stages/plan_week.py
  pyproject.toml
  uv.lock
Due: fawltydeps-src, pytest-fast-only

Extract other task data
  packages/_pipeline/src/notes_pipeline/stages/plan_week.py
Due: none

Update from template
  .copier-answers.yml
  .prettierignore
  pyproject.toml
Due: fawltydeps-src

Bump Python to 3.14
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .sourcery.yaml
  data/deprecated/New-CslModel.ps1
  docs/contributing.md
  pyproject.toml
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Fix type issues
  .vscode/settings.json
  data/deprecated/copy_filenames.py
  notebooks/get_lists.ipynb
  packages/_dev/notes_dev/docs/docstrings.py
  packages/_dev/notes_dev/modules.py
  packages/_dev/notes_dev/tools/__main__.py
  packages/_dev/notes_dev/tools/add_changes.py
  packages/_dev/notes_dev/tools/environment.py
  packages/_dev/pyproject.toml
  packages/_dev/src/notes_dev/tools/__main__.py
  packages/_dev/src/notes_dev/tools/add_changes.py
  packages/_dev/src/notes_dev/tools/environment.py
  packages/_pipeline-helper/src/pipeline_helper/models/data/__init__.py
  packages/_pipeline-helper/src/pipeline_helper/paths.py
  packages/_pipeline-helper/src/pipeline_helper/sync_dvc/validators.py
  packages/_pipeline/src/notes_pipeline/__main__.py
  packages/_pipeline/src/notes_pipeline/models/paths.py
  packages/my_shortcuts/my_shortcuts/commands.py
  pyproject.toml
  src/notes/find.py
  src/notes/literature_common.py
  src/notes/pomodouroboros_at_home.py
  src/notes/toggl.py
  src/notes/watch.py
  src/notes/win.py
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, pytest-fast-only

Migrate to Python 3.14 semantics
  .vscode/tasks.json
  notebooks/get_lists.ipynb
  notebooks/sunshine.ipynb
  packages/_dev/notes_dev/docs/types.py
  packages/_dev/notes_dev/tests.py
  packages/_dev/notes_dev/tools/types.py
  packages/_dev/src/notes_dev/docs/types.py
  packages/_dev/src/notes_dev/tools/types.py
  packages/_pipeline-helper/src/pipeline_helper/models/column.py
  packages/_pipeline-helper/src/pipeline_helper/models/params/__init__.py
  packages/_pipeline-helper/src/pipeline_helper/models/params/types.py
  packages/_pipeline-helper/src/pipeline_helper/sync_dvc/dvc.py
  packages/_pipeline-helper/src/pipeline_helper/types.py
  packages/_pipeline/src/notes_pipeline/manual/refactor_heading.py
  packages/_pipeline/src/notes_pipeline/manual/sanitize_source_tags.py
  packages/_pipeline/src/notes_pipeline/models/generated/types/stages.py
  packages/_pipeline/src/notes_pipeline/stages/diff_note.py
  packages/_pipeline/src/notes_pipeline/stages/sanitize_source_tags.py
  packages/_pipeline/src/notes_pipeline/stages/sync_docs.py
  packages/_pipeline/src/notes_pipeline/stages/sync_plan.py
  packages/_pipeline/src/notes_pipeline/stages/sync_settings.py
  packages/_pipeline/src/notes_pipeline/sync_lists.py
  packages/my_shortcuts/my_shortcuts/actions.py
  packages/my_shortcuts/my_shortcuts/models.py
  pyproject.toml
  src/notes/bullet.py
  src/notes/generate_report.py
Due: fawltydeps-src, fawltydeps-dev, pytest-fast-only

Fix other errors and pre-commit errors
  docs/conf.py
  notebooks/get_lists.ipynb
  notebooks/sync_bullet_list.ipynb
  packages/_dev/pyproject.toml
  packages/_pipeline-helper/pipeline_helper/config.py
  packages/_pipeline-helper/pyproject.toml
  packages/_pipeline/notes_pipeline/cli/__init__.py
  packages/_pipeline/notes_pipeline/models/generated/types/__init__.py
  packages/_pipeline/notes_pipeline/stages/sync_plan.py
  packages/_pipeline/pyproject.toml
  prek.toml
  pyproject.toml
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Switch to Windows runner
  .copier-answers.yml
  .github/workflows/env.yml
Due: none

Fix error, only test on Windows
  .github/workflows/ci.yml
  notebooks/sunshine.ipynb
  prek.toml
Due: none

Remove stale mirror of `uv.lock` now that GitHub natively suports `uv.lock`
  requirements/requirements_dev.txt
Due: pytest-fast-only

Trust Renovate JSON schema
  .vscode/settings.json
Due: none

Configure file nesting #template
  .root
  .vscode/settings.json
  root.confRt
  root.mdRt
  root.tsRt
Due: none

Try this
  package-lock.json
  package.json
Due: none

Audit NPM packages
  package-lock.json
  package.json
Due: none

Add fork of Obsidian Tasks
  .gitmodules
Due: none

Add Dataview types
  .gitmodules
  package-lock.json
  packages/_pipeline/notes_pipeline/manual/refactor_heading.py
  templates/getTasks.ts
  templates/types.d.ts
  tsconfig.json
Due: none

Override Obsidian base app type
  package.json
  templates/cite.ts
  templates/getChoice.ts
  templates/getDatetimeFmt.ts
  templates/getEntry.ts
  templates/getEntryGroups.ts
  templates/getEntryId.ts
  templates/getExpenses.ts
  templates/getFilenameDatetimeFmt.ts
  templates/getSelOrClip.ts
  templates/getTasks.ts
  templates/getToDo.ts
  templates/invokedFromTemplaterCreate.ts
  templates/testUserTemplates.ts
  templates/types.d.ts
Due: none

Fix output directory
  tsconfig.json
Due: none

Fix getting tasks
  templates/getTasks.ts
Due: none

Fix type errors in getTasks
  templates/getTasks.ts
  templates/types.d.ts
Due: none

Remove reduntant type
  templates/getTasks.ts
Due: none

Pin Marimo, ruff, and ty based on their bundled binary versions
  .vscode/settings.json
  packages/_pipeline/pyproject.toml
  pyproject.toml
  uv.lock
Due: fawltydeps-src, pytest-fast-only

Make week plans reactive to the day the plan is being made
  packages/_pipeline/notes_pipeline/stages/plan_week.py
  templates/getTasks.ts
Due: none

Specify consistent versions of Ruff, Ty, and Marimo #template
  .vscode/settings.json
  env.json
  packages/_pipeline/pyproject.toml
  pyproject.toml
  uv.lock
Due: fawltydeps-src, pytest-fast-only
