Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: dvc-repro, pytest-fast-only, fawltydeps

Path conditions:
  dvc-repro: any of: (?x)^(
  .*
)$

  pytest-fast-only: any of: (?x)^(
  pyproject\.toml
  src/.*
  |tests/.*
  |\.tools/requirements/.*
)$

  fawltydeps: any of: (?x)^(
  src/.*
  |pyproject\.toml
  |requirements\.txt
  |\.tools/requirements/.*
)$


Sync grad settings to personal settings
  dvc.lock
Due: dvc-repro

Set up default case for settings sync
  .vscode/launch.json
  params.yaml
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Call app if main
  params.yaml
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Update project from template
  .copier-answers.yml
  .env
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .gitignore
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  pyproject.toml
  pytest.ini
  setup.ps1
  update.ps1
Due: dvc-repro, pytest-fast-only, fawltydeps

Specify parameter name explicitly
  dvc.yaml
Due: dvc-repro

Synchronize settings
  dvc.lock
Due: dvc-repro

Suppress Ruff warning on historical script
  data/common/.scripts/historical/print_title_statistics.py
Due: dvc-repro

Sync personal settings to grad settings
  dvc.lock
Due: dvc-repro

Repro
  dvc.lock
Due: dvc-repro

Update params
  params.yaml
Due: dvc-repro

Repro
  dvc.lock
  params.yaml
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Sync personal settings
  dvc.lock
Due: dvc-repro

Sync personal settings to grad settings
  dvc.lock
  params.yaml
Due: dvc-repro

Sync settings
  dvc.lock
Due: dvc-repro

Document settings directory finding more clearly
  src/notes/models/paths.py
Due: dvc-repro, fawltydeps

Update project from template and bump Pydantic
  .copier-answers.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/Invoke-Pyright.ps1
  .tools/scripts/pythonstartup.py
  .vscode/launch.json
  data/common/.scripts/historical/csl_models.py
  pyproject.toml
  renovate.json
  src/notes/models/params.py
  src/notes/models/paths.py
Due: dvc-repro, pytest-fast-only, fawltydeps

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: dvc-repro, pytest-fast-only, fawltydeps

Format with ruff after update
  docs/concurrency-in-python/example-notebook.ipynb
Due: dvc-repro
