Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: dvc-repro, pytest-fast-only, fawltydeps

Path conditions:
  dvc-repro: any of: (?x)^(
  .*
)$

  pytest-fast-only: any of: (?x)^(
  pyproject\.toml
  src/.*
  |tests/.*
  |\.tools/requirements/.*
)$

  fawltydeps: any of: (?x)^(
  src/.*
  |pyproject\.toml
  |requirements\.txt
  |\.tools/requirements/.*
)$


Sync personal settings to grad settings
  dvc.lock
Due: dvc-repro

Remove DVC in reparation for re-adding. Merge grad vault into personal. Deprecate syncing across these two
  .dvc/.gitignore
  .dvc/config
  .dvcignore
  .vscode/tasks.json
  data/deprecated/New-CslModel.ps1
  data/deprecated/copy_filenames.ahk
  data/deprecated/copy_filenames.py
  data/deprecated/csl_models.py
  data/deprecated/print_title_statistics.py
  data/deprecated/readme.txt
  data/deprecated/remove_at_from_notes.py
  data/deprecated/rename_title_to_citekey.py
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/deprecated/__init__.py
  src/notes/deprecated/move_timestamped.py
  src/notes/deprecated/sync_settings.py
  src/notes/generate_report.py
  src/notes/migrate_leads.py
  src/notes/models/paths.py
  src/notes/stages/update_common.py
  src/notes/todo.py
Due: dvc-repro, fawltydeps

Fix tests
  tests/notes_tests/conftest.py
Due: dvc-repro, pytest-fast-only

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: dvc-repro, pytest-fast-only, fawltydeps

Sanitize source tags
  .dvc/.gitignore
  .dvc/config
  .dvcignore
  .vscode/launch.json
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/deprecated/move_timestamped.py
  src/notes/manual/sanitize_source_tags.py
  src/notes/markdown.py
  src/notes/models/paths.py
  src/notes/sanitize_source_tags.py
  src/notes/stages/sanitize_source_tags.py
Due: dvc-repro, fawltydeps

Update tooling from latest work on boilercv
  .env
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .sourcery.yaml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/Update-Boilercore.ps1
  .tools/scripts/core_update.py
  .tools/scripts/first_time_setup.ps1
  .tools/scripts/local_dev_configs.py
  .tools/scripts/local_pyrightconfig.py
  .tools/scripts/pythonstartup.py
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/concurrency-in-python/example-notebook.ipynb
  docs/concurrency-in-python/logs.ipynb
  params.yaml
  pyproject.toml
  pytest.ini
  renovate.json
  src/notes/models/paths.py
  tests/notes_tests/__init__.py
  tests/root/params.yaml
  update.ps1
Due: dvc-repro, pytest-fast-only, fawltydeps

Update workflows
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/sphinx.yml
  .tools/requirements/requirements_both.txt
Due: dvc-repro, pytest-fast-only, fawltydeps

Bump requirements
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_dev.txt
Due: dvc-repro, pytest-fast-only, fawltydeps

Update requirements_docs.txt
  .tools/requirements/requirements_docs.txt
Due: dvc-repro, pytest-fast-only, fawltydeps

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
  src/notes/manual/refactor_heading.py
Due: dvc-repro, pytest-fast-only, fawltydeps

Try basic cibuildwheel workflow
  .github/workflows/wheels.yml
Due: dvc-repro

Try matrix uv compile
  .github/workflows/locks.yml
  .github/workflows/wheels.yml
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_dev.txt
  pyproject.toml
Due: dvc-repro, pytest-fast-only, fawltydeps

Try this
  .github/workflows/locks.yml
Due: dvc-repro

Hmm
  .github/workflows/locks.yml
Due: dvc-repro

Checkout
  .github/workflows/locks.yml
Due: dvc-repro

Setup python
  .github/workflows/locks.yml
Due: dvc-repro

Install via Python, only test Python 3.11
  .github/workflows/locks.yml
Due: dvc-repro

Upload ad-hoc locks for now
  .github/workflows/locks.yml
  .tools/requirements/macos.txt
  .tools/requirements/ubuntu.txt
  .tools/requirements/windows.txt
Due: dvc-repro, pytest-fast-only, fawltydeps

Remove "common" data now that we're down to one vault
  data/common/.scripts/ConvertTo-ReportObsidian.ps1
  data/common/.scripts/ConvertTo-ReviewObsidian.ps1
  data/common/.scripts/Copy-SourcesFromClipboard.ps1
  data/common/.scripts/Get-SourceFromObsidian.ps1
  data/common/.scripts/Get-SourcesFromClipboard.ps1
  data/common/.scripts/LiteratureCommon.ps1
  data/common/.scripts/conf.py
  data/common/.scripts/find.py
  data/common/.scripts/get_sources_from_clipboard.ahk
  data/common/.scripts/international-journal-of-heat-and-mass-transfer.csl
  data/common/.scripts/literature_common.py
  data/common/.scripts/preview.py
  data/common/.scripts/watch.py
  data/common/.scripts/zotero.lua
  data/common/.vscode/launch.json
  data/common/.vscode/settings.json
  data/common/.vscode/tasks.json
Due: dvc-repro

Autofix
  .tools/scripts/local_dev_configs.py
  data/deprecated/print_title_statistics.py
  data/deprecated/rename_title_to_citekey.py
Due: dvc-repro

Update boilercore
  .gitmodules
  lock.json
  requirements/requirements.txt
Due: dvc-repro

Sync with template
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/high.yml
  .vscode/tasks.json
  docs/pyproject.toml
  lock.json
  requirements/dev.in
  requirements/requirements.txt
  scripts/Common.ps1
  scripts/notes_tools/__main__.py
  scripts/notes_tools/add_changes.py
  scripts/notes_tools/sync.py
  scripts/notes_tools/types.py
  scripts/pyproject.toml
Due: dvc-repro

Bump submodules and resolve linter warnings
  .pre-commit-config.yaml
  data/deprecated/copy_filenames.py
  data/deprecated/print_title_statistics.py
  docs/concurrency-in-python/example-notebook.ipynb
  lock.json
  params.yaml
  pyproject.toml
  requirements/dev.in
  requirements/override.txt
  requirements/requirements.txt
  src/notes/deprecated/move_timestamped.py
  src/notes/deprecated/sync_settings.py
  src/notes/deprecated/update_common_old.py
  src/notes/generate_report.py
  src/notes/manual/refactor_heading.py
  src/notes/manual/sanitize_source_tags.py
  src/notes/manual/sort_json.py
  src/notes/models/paths.py
  src/notes/stages/sanitize_source_tags.py
  tests/notes_tests/__init__.py
  tests/pyproject.toml
Due: dvc-repro, pytest-fast-only, fawltydeps

Restore notebooks to be excluded from execution
  .pre-commit-config.yaml
  docs/concurrency-in-python/example-notebook.ipynb
  docs/concurrency-in-python/logs.ipynb
  docs/conf.py
Due: dvc-repro

Sync with template
  .copier-answers.yml
Due: dvc-repro

Fix type issues
  docs/pyproject.toml
  lock.json
  requirements/dev.in
  requirements/requirements.txt
Due: dvc-repro
