Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-pyrightconfig, synchronize-params, pytest-fast-only

local-pyrightconfig:
  name: local-pyrightconfig
  language: system
  entry: pwsh -Command python .tools/scripts/local_dev_configs.py

synchronize-params:
  name: synchronize-params
  language: system
  entry: pwsh -Command python -m notes.models.params

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

Only support 3.11+
  .github/workflows/ci.yml
  .github/workflows/high.yml
  pyproject.toml
Due: local-pyrightconfig, pytest-fast-only

Attempt to fix numpy wheel issue in c954e23
  lock.json
  requirements/dev.in
  requirements/requirements.txt
Due: none

Try again
  lock.json
  requirements/dev.in
  requirements/requirements.txt
Due: none

Remove outdated tools and requirements
  .tools/requirements/macos.txt
  .tools/requirements/ubuntu.txt
  .tools/requirements/windows.txt
  .tools/scripts/Update-PinnedDependency.ps1
  .tools/scripts/local_dev_configs.py
Due: local-pyrightconfig, pytest-fast-only

Remove template
  .gitmodules
Due: none

Remove typings
  .gitmodules
Due: none

Ignore lookback
  pyproject.toml
Due: local-pyrightconfig, pytest-fast-only

Don't specify default
  .vscode/launch.json
Due: none

Introduce quote hashing
  .gitmodules
  .vscode/settings.json
  pyproject.toml
  requirements/requirements_dev.txt
  src/notes/__main__.py
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Update quote cleaner
  src/notes/__main__.py
Due: pytest-fast-only

Associate PDFs with literature notes
  src/notes/__main__.py
Due: pytest-fast-only

Update README.md
  README.md
Due: none

Reintroduce settings sync
  data/obsidian_common/plugins/mrj-text-expand/main.js
  dvc.yaml
  packages/_dev/dev/tests.py
  params.yaml
  pyproject.toml
  src/notes/deprecated/__init__.py
  src/notes/deprecated/move_timestamped.py
  src/notes/deprecated/sync_settings.py
  src/notes/deprecated/update_common_old.py
  src/notes/models/paths.py
  src/notes/stages/sync_settings.py
Due: local-pyrightconfig, synchronize-params, pytest-fast-only

Update tests
  params.yaml
  src/notes/models/paths.py
  src/notes/stages/update_common.py
  tests/root/data/local/vaults/amsl/.obsidian/.gitkeep
  tests/root/data/local/vaults/amsl/.obsidian/plugins/.gitkeep
  tests/root/data/local/vaults/amsl/_timestamped/grad-and-other-inline.md
  tests/root/data/local/vaults/amsl/_timestamped/grad-front-and-other-inline.md
  tests/root/data/local/vaults/amsl/_timestamped/grad-inline.md
  tests/root/data/local/vaults/amsl/_timestamped/grad.md
  tests/root/data/local/vaults/amsl/_timestamped/no-tags.md
  tests/root/data/local/vaults/amsl/_timestamped/not-grad-and-other-inline.md
  tests/root/data/local/vaults/amsl/_timestamped/not-grad-inline.md
  tests/root/data/local/vaults/amsl/_timestamped/not-grad.md
  tests/root/data/obisidan_common/.gitkeep
Due: synchronize-params, pytest-fast-only

Update DVC files
  dvc.yaml
  params.yaml
Due: synchronize-params

dev
  Dev.ps1
  _Dev.ps1
Due: none

dev
  dev.ps1
Due: none

Migrate scripts
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .vscode/tasks.json
  Invoke-Just.ps1
  data/deprecated/copy_filenames.py
  dev.ps1
  docs/conf.py
  justfile
  packages/_dev/dev/tools/environment.py
  packages/_dev/notes_dev/__init__.py
  packages/_dev/notes_dev/docs/__init__.py
  packages/_dev/notes_dev/docs/docstrings.py
  packages/_dev/notes_dev/docs/intersphinx.py
  packages/_dev/notes_dev/docs/types.py
  packages/_dev/notes_dev/modules.py
  packages/_dev/notes_dev/tests.py
  packages/_dev/notes_dev/tools/__init__.py
  packages/_dev/notes_dev/tools/__main__.py
  packages/_dev/notes_dev/tools/add_changes.py
  packages/_dev/notes_dev/tools/environment.py
  packages/_dev/notes_dev/tools/types.py
  packages/_dev/notes_dev/tools/warnings.py
  packages/_dev/pyproject.toml
  pyproject.toml
  requirements/requirements_dev.txt
  scripts/Initialize-LinuxMacOS.sh
  scripts/get_sources_from_clipboard.ahk
  scripts/notes.ps1
  scripts/report.dotx
  scripts/review.dotx
  scripts/zotero.lua
  src/notes/__main__.py
  src/notes/find.py
  src/notes/literature_common.py
  src/notes/watch.py
  tests/conftest.py
  uv.lock
Due: local-pyrightconfig, pytest-fast-only

Create vault
  .vscode/tasks.json
  params.yaml
Due: synchronize-params

Try remove example notebook
  docs/concurrency-in-python/example-notebook.ipynb
Due: none

And this
  requirements/requirements_dev.txt
Due: none

Add back
  requirements/requirements_dev.txt
Due: none

Update DVC stage
  dvc.yaml
Due: none

Fix check
  src/notes/stages/sync_settings.py
Due: pytest-fast-only

Fix
  src/notes/stages/sync_settings.py
Due: pytest-fast-only

Don't require file
  packages/_dev/notes_dev/tools/__main__.py
Due: none

Vary based on choice of template
  scripts/notes.ps1
Due: none

Use script root instead of PWD
  dev.ps1
Due: none

Fetch all JSON library exports
  scripts/better_bibtex_preferences.json
  src/notes/watch.py
Due: pytest-fast-only

Allow specifying library by environment variable
  scripts/notes.ps1
Due: none

Don't sync on terminal launch
  dev.ps1
Due: none

Always create env file
  dev.ps1
Due: none

Migrate commands to just
  justfile
Due: none

Sync settings
  dvc.lock
  params.yaml
Due: synchronize-params

Fix typo
  justfile
Due: none

Sync settings
  dvc.lock
Due: none

Path conditions:
  local-pyrightconfig: any of: (?x)^(
  pyproject\.toml
  |\.tools/scripts/local_dev_configs.py
)$

  synchronize-params: any of: (?x)^(
  src/notes/models/.*
  |params.yaml
)$

  pytest-fast-only: any of: (?x)^(
  pyproject\.toml
  |src/.*
  |tests/.*
  |\.tools/requirements/.*
)$

