Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: synchronize-params, compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Path conditions:
  synchronize-params: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
)$

  compose-pyproject: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/pyproject.toml
)$

  pyright: any of: (?x)^(
  src/.*
  |tests/.*
  |pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pytest-slow-only: any of: (?x)^(
  src/.*
  |tests/.*
)$


Prepare work on the sequoia question
  data/local/vaults/grad/_external/git/notebooks/sequoia.ipynb
Due: none

Properly structure personal vault folder as well
  data/local/vaults/personal/_external/git/notebooks/test.ipynb
Due: none

repro
  data/local/vaults/grad/.gitignore
  data/local/vaults/personal/.gitignore
  dvc.lock
Due: none

Don't include gitignores in vault common
  .gitignore
  data/common/.gitignore
  data/local/vaults/grad/.gitignore
  data/local/vaults/personal/.gitignore
  dvc.lock
  dvc.yaml
  params.yaml
  params_schema.json
  src/notes/models/paths.py
Due: synchronize-params, pyright, pytest-slow-only

Ignore DVC-related ResourceWarning
  .env
  dvc.lock
  pytest.ini
Due: none

Delete code workspace since `gitignore` in vaults is wonky anyways
  notes.code-workspace
Due: none

Update common
  dvc.lock
Due: none

repro
  dvc.lock
Due: none

Document lesson logs and example notebook
  .tools/requirements/requirements_docs.txt
  .vscode/tasks.json
  docs/.gitignore
  docs/_static/dag.md
  docs/concurrency-in-python/.gitignore
  docs/concurrency-in-python/after.log
  docs/concurrency-in-python/after.prof
  docs/concurrency-in-python/before.log
  docs/concurrency-in-python/before.prof
  docs/concurrency-in-python/example-notebook.ipynb
  docs/concurrency-in-python/index.md
  docs/concurrency-in-python/logs.ipynb
  docs/conf.py
  docs/index.md
Due: pyright, pytest-fast-only

repro
  .pre-commit-config.yaml
  dvc.lock
Due: none

Add this week's recipe
  docs/dag.md
  docs/index.md
  docs/pork-beans-and-greens.md
Due: none

Update pork-beans-and-greens.md
  docs/pork-beans-and-greens.md
Due: none

Update
  docs/pork-beans-and-greens.md
Due: none

Patch the text expander plugin
  README.md
  data/obsidian_common/plugins/mrj-text-expand/main.js
  docs/dag.md
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/models/paths.py
  src/notes/stages/update_common.py
Due: synchronize-params, pyright, pytest-slow-only

Add text expand plugin to watched files for the relevant stage
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/models/paths.py
Due: synchronize-params, pyright, pytest-slow-only

Update Zotero source location
  data/common/.scripts/Copy-SourcesFromClipboard.ps1
  data/common/.scripts/Get-SourceFromObsidian.ps1
  data/common/.scripts/Get-SourcesFromClipboard.ps1
  dvc.lock
Due: none

Update template digest to 8b71f02
  .tools/scripts/Copy-Template.ps1
Due: none

Bump from template. Change profile and .env so notes use the project .venv
  .copier-answers.yml
  .env
  .gitattributes
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/sphinx.yml
  .gitignore
  .pre-commit-config.yaml
  .tools/pyproject.toml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
  .tools/scripts/Invoke-Pyright.ps1
  .tools/scripts/compose_pyproject.py
  .tools/scripts/core_update.py
  .tools/scripts/pythonstartup.py
  .tools/scripts/template_common.ps1
  .tools/scripts/warning_filters.py
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  data/common/.env
  data/common/.scripts/historical/csl_models.py
  data/common/.scripts/literature_common.py
  data/common/.scripts/requirements.txt
  dvc.lock
  dvc.yaml
  params.yaml
  pyproject.toml
  pyrightconfig.json
  renovate.json
  src/notes/__init__.py
  src/notes/models/paths.py
  update.ps1
Due: synchronize-params, compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Update project.
  .copier-answers.yml
Due: none

Recopy common
  dvc.lock
  src/notes/models/__init__.py
Due: pyright, pytest-slow-only

Add boilercore
  .gitmodules
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/Update-Boilercore.ps1
  .vscode/tasks.json
  dvc.lock
  params.yaml
  pyproject.toml
  src/notes/models/paths.py
Due: synchronize-params, compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Update boilercore
  .tools/requirements/requirements_ci.txt
  src/notes/models/paths.py
Due: pyright, pytest-fast-only, pytest-slow-only

Bump minimum ruamel.yaml to align with boilercore dependency
  .tools/requirements/requirements.txt
  dvc.lock
  pyproject.toml
Due: compose-pyproject, pyright, pytest-fast-only

Code scanning not available for private repositories
  .github/workflows/codeql.yml
Due: none
