Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: dvc-repro, pytest-fast-only, fawltydeps

dvc-repro:
  name: dvc-repro
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command python -m notes.models.params && dvc repro && dvc repro

pytest-fast-only:
  name: pytest-fast-only
  verbose: true
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

fawltydeps:
  name: fawltydeps
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command fawltydeps

Repro
  dvc.lock
Due: dvc-repro

Sync grad settings to personal settings
  dvc.lock
Due: dvc-repro

Sync personal settings to grad settings
  dvc.lock
Due: dvc-repro

Move timestamped
  dvc.lock
Due: dvc-repro

Move timestamped
  dvc.lock
  params.yaml
Due: dvc-repro

Sync grad settings
  dvc.lock
  params.yaml
Due: dvc-repro

Sync personal settings
  dvc.lock
Due: dvc-repro

Remove calendar
  params.yaml
Due: dvc-repro

Synchronize settings
  dvc.lock
Due: dvc-repro

Synchronize settings
  .vscode/tasks.json
  dvc.lock
Due: dvc-repro

Prepare for ruff formatter
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Conform to latest boilercore API
  .tools/scripts/Update-Boilercore.ps1
  .vscode/tasks.json
  src/notes/models/paths.py
Due: dvc-repro, fawltydeps

Bump boilercore. Fix associated tests
  .tools/requirements/requirements_ci.txt
  tests/notes_tests/__init__.py
Due: dvc-repro, pytest-fast-only, fawltydeps

Update project from template. Fix tests again
  .copier-answers.yml
  .env
  .gitattributes
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/sphinx.yml
  .gitignore
  .nest_md
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/scripts/Invoke-Pyright.ps1
  .tools/scripts/local_pyrightconfig.py
  .tools/scripts/pythonstartup.py
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/concurrency-in-python/example-notebook.ipynb
  docs/concurrency-in-python/logs.ipynb
  dvc.lock
  pyproject.toml
  pytest.ini
  renovate.json
  setup.ps1
  src/notes/generate_report.py
  src/notes/stages/sync_settings.py
  tests/notes_tests/__init__.py
  update.ps1
Due: dvc-repro, pytest-fast-only, fawltydeps

Sync grad settings to personal
  .pre-commit-config.yaml
Due: dvc-repro

Try this
  dvc.lock
Due: dvc-repro

Add undeclared dependency for testing, fix Ruff violations
  .tools/requirements/requirements_both.txt
  data/common/.scripts/preview.py
Due: dvc-repro, pytest-fast-only, fawltydeps

Update
  dvc.lock
Due: dvc-repro

Path conditions:
  dvc-repro: any of: (?x)^(
  .*
)$

  pytest-fast-only: any of: (?x)^(
  pyproject\.toml
  src/.*
  |tests/.*
  |\.tools/requirements/.*
)$

  fawltydeps: any of: (?x)^(
  src/.*
  |pyproject\.toml
  |requirements\.txt
  |\.tools/requirements/.*
)$

