Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: synchronize-params, compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Path conditions:
  synchronize-params: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
)$

  compose-pyproject: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/pyproject.toml
)$

  pyright: any of: (?x)^(
  src/.*
  |tests/.*
  |pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pytest-slow-only: any of: (?x)^(
  src/.*
  |tests/.*
)$


Simplify project structure using boilercore
  .tools/requirements/requirements.txt
  dvc.lock
  dvc.yaml
  params.yaml
  pyproject.toml
  src/notes/__init__.py
  src/notes/models/__init__.py
  src/notes/models/params.py
  src/notes/models/paths.py
  tests/__init__.py
  tests/conftest.py
  tests/test_notes.py
  tests/tmp_path/data/common/.scripts/.gitkeep
  tests/tmp_path/data/common/.vscode/.gitkeep
  tests/tmp_path/data/external/.dvcignore
  tests/tmp_path/data/external/.gitignore
  tests/tmp_path/data/obisidan_common/.gitkeep
Due: synchronize-params, compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Update project from template
  .copier-answers.yml
  .env
  .pre-commit-config.yaml
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/warning_filters.py
  .vscode/tasks.json
Due: none

Update project from template
  .copier-answers.yml
  .env
  .pre-commit-config.yaml
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/pythonstartup.py
  .tools/scripts/warning_filters.py
  .vscode/tasks.json
  update.ps1
Due: none

Reduce monkeypatching in tests
  pytest.ini
  src/notes/__init__.py
  src/notes/models/__init__.py
  src/notes/models/params.py
  src/notes/models/paths.py
  tests/conftest.py
  tests/root/data/common/.scripts/.gitkeep
  tests/root/data/common/.vscode/.gitkeep
  tests/root/data/external/.dvcignore
  tests/root/data/external/.gitignore
  tests/root/data/obisidan_common/.gitkeep
  tests/test_notes.py
Due: pyright, pytest-slow-only

Implement timestamped note migration
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .tools/requirements/requirements.txt
  dvc.lock
  dvc.yaml
  params.yaml
  pyproject.toml
  pytest.ini
  renovate.json
  src/notes/__init__.py
  src/notes/manual/__init__.py
  src/notes/models/params.py
  src/notes/models/paths.py
  src/notes/stages/move_timestamped.py
  tests/__init__.py
  tests/conftest.py
  tests/expected/data/local/vaults/personal/_timestamped/no-tags.md
  tests/expected/data/local/vaults/personal/_timestamped/not-grad-and-other-inline.md
  tests/expected/data/local/vaults/personal/_timestamped/not-grad-inline.md
  tests/expected/data/local/vaults/personal/_timestamped/not-grad.md
  tests/root/data/local/vaults/grad/_timestamped/grad-and-other-inline.md
  tests/root/data/local/vaults/grad/_timestamped/grad-front-and-other-inline.md
  tests/root/data/local/vaults/grad/_timestamped/grad-inline.md
  tests/root/data/local/vaults/grad/_timestamped/grad.md
  tests/root/data/local/vaults/grad/_timestamped/no-tags.md
  tests/root/data/local/vaults/grad/_timestamped/not-grad-and-other-inline.md
  tests/root/data/local/vaults/grad/_timestamped/not-grad-inline.md
  tests/root/data/local/vaults/grad/_timestamped/not-grad.md
  tests/test_notes.py
Due: synchronize-params, compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Move tag closer to assignment
  dvc.lock
  src/notes/stages/move_timestamped.py
Due: pyright, pytest-slow-only

Remove unassigned stagement
  dvc.lock
  src/notes/stages/move_timestamped.py
Due: pyright, pytest-slow-only

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pyright, pytest-fast-only

Remove old file
  dvc_repro.ps1
Due: none

repro
  dvc.lock
Due: none

Add task
  .vscode/tasks.json
Due: none

Add lookback
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/Update-Boilercore.ps1
  .tools/scripts/Update-PinnedDependency.ps1
  .vscode/tasks.json
  pyproject.toml
Due: compose-pyproject, pyright, pytest-fast-only

Move submodules
  .gitmodules
  .pre-commit-config.yaml
Due: none

Update lookback pinned commit
  .tools/scripts/Update-PinnedDependency.ps1
  .tools/scripts/core_update.py
  .vscode/tasks.json
Due: none

Fix lookback requirement specification
  .tools/requirements/requirements_ci.txt
  dvc.lock
Due: pyright, pytest-fast-only

Set up blank module for lead migration
  .tools/scripts/local_pyrightconfig.py
  .vscode/tasks.json
  src/notes/migrate_leads.py
Due: pyright, pytest-slow-only

Bump workflow version
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/sphinx.yml
Due: none

Fix submodule paths
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/Invoke-Pyright.ps1
  pyproject.toml
Due: compose-pyproject, pyright, pytest-fast-only

Update template digest to
  .tools/scripts/Copy-Template.ps1
Due: none

Update project from template
  .copier-answers.yml
  .pre-commit-config.yaml
  renovate.json
Due: none

Add CSS snippets to common
  data/obsidian_common/snippets/callouts.css
  data/obsidian_common/snippets/canvas.css
  data/obsidian_common/snippets/checkbox.css
  dvc.lock
Due: none

Synchronize settings across vaults. Make the personal vault the primary vault
  .dvcignore
  .vscode/tasks.json
  data/external/.dvcignore
  data/external/.gitignore
  data/local/.gitignore
  data/local/vaults/grad/_external/dvc/test.dvc
  data/local/vaults/grad/_external/git/notebooks/sequoia.ipynb
  data/local/vaults/personal/_external/dvc/test.dvc
  data/local/vaults/personal/_external/git/notebooks/test.ipynb
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/manual/__init__.py
  src/notes/manual/sort_json.py
  src/notes/models/paths.py
  src/notes/stages/update_common.py
Due: synchronize-params, pyright, pytest-slow-only

Enable bidirectional sync
  .vscode/settings.json
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/models/params.py
  src/notes/models/paths.py
  src/notes/stages/move_timestamped.py
  src/notes/stages/sync_settings.py
  src/notes/stages/update_common.py
  tests/__init__.py
Due: synchronize-params, pyright, pytest-slow-only

Migrate CSS sync to the bidirectional sync
  data/obsidian_common/snippets/callouts.css
  data/obsidian_common/snippets/canvas.css
  data/obsidian_common/snippets/checkbox.css
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/models/paths.py
Due: synchronize-params, pyright, pytest-slow-only

Sync again
  .pre-commit-config.yaml
  .vscode/tasks.json
  dvc.lock
  dvc.yaml
  params.yaml
Due: synchronize-params

Allow updating boilercore
  .pre-commit-config.yaml
  .tools/scripts/Update-Boilercore.ps1
  .vscode/tasks.json
Due: none

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
  .tools/scripts/Update-Boilercore.ps1
  dvc.lock
Due: pyright, pytest-fast-only

Tweak ribbon
  dvc.lock
Due: none

Allow shell command to vary
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/models/paths.py
  src/notes/stages/sync_settings.py
Due: synchronize-params, pyright, pytest-slow-only

Update grad settings
  dvc.lock
Due: none

Bump
  dvc.lock
  src/notes/stages/sync_settings.py
Due: pyright, pytest-slow-only

Update personal settings
  dvc.lock
Due: none

Make clearer
  dvc.lock
  src/notes/stages/sync_settings.py
Due: pyright, pytest-slow-only

Update personal settings to grad settings
  dvc.lock
Due: none

Fix tests
  dvc.lock
  params.yaml
  src/notes/models/paths.py
  tests/root/data/local/vaults/grad/.obsidian/.gitkeep
  tests/root/data/local/vaults/grad/.obsidian/plugins/.gitkeep
  tests/root/data/local/vaults/personal/.obsidian/.gitkeep
  tests/root/data/local/vaults/personal/.obsidian/plugins/.gitkeep
Due: synchronize-params, pyright, pytest-slow-only
