Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

fawltydeps-src:
  name: fawltydeps-src
  pass_filenames: false
  language: system
  entry: pwsh -NonInteractive -NoProfile -Command './Invoke-Uv.ps1 fawltydeps --config-file pyproject.toml'

fawltydeps-dev:
  name: fawltydeps-dev
  pass_filenames: false
  language: system
  entry: pwsh -NonInteractive -NoProfile -Command './Invoke-Uv.ps1 fawltydeps --config-file packages/_dev/pyproject.toml'

fawltydeps-pipeline:
  name: fawltydeps-pipeline
  pass_filenames: false
  language: system
  entry: pwsh -NonInteractive -NoProfile -Command './Invoke-Uv.ps1 fawltydeps --config-file packages/pipeline/pyproject.toml'

pytest-fast-only:
  name: pytest-fast-only
  pass_filenames: false
  language: system
  entry: pwsh -NonInteractive -NoProfile -Command './Invoke-Uv.ps1 pytest -m "not slow"'

Sync `package-lock.json`
  package-lock.json
Due: none

Implement plan resetting for last week's planned tasks
  packages/_pipeline/notes_pipeline/stages/plan_week.py
  pyproject.toml
Due: fawltydeps-src

Remove expenses template
  templates/getExpenses.ts
  templates/testUserTemplates.ts
  templates/types.d.ts
Due: none

Bump tools
  .github/workflows/env.yml
  .vscode/settings.json
  env.json
  packages/_dev/pyproject.toml
  packages/_pipeline-helper/pyproject.toml
  packages/_pipeline/pyproject.toml
  packages/my_shortcuts/pyproject.toml
  pyproject.toml
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, pytest-fast-only

Bump stubs, fix auto-formatting
  .vscode/settings.json
  pyproject.toml
  uv.lock
Due: fawltydeps-src

#template Fix notebook actions
  .vscode/settings.json
Due: none

Sync with template
  .github/workflows/env.yml
  .vscode/settings.json
  docs/conf.py
  docs/contributing.md
  tests/test_notes.py
Due: fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Sync with template
  .copier-answers.yml
  README.md
  docs/index.md
  pyproject.toml
Due: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Show done or cancelled tasks
  templates/getToDo.ts
Due: none

Begin implementing Clues by Sam grammar
  .vscode/settings.json
  env.json
  packages/_pipeline/notes_pipeline/data.py
  packages/_pipeline/notes_pipeline/stages/clues_by_sam.py
  packages/_pipeline/notes_pipeline/stages/clues_by_sam_grammar.py
  packages/_pipeline/pyproject.toml
  pyproject.toml
  uv.lock
Due: fawltydeps-src, pytest-fast-only

Refine grammar to match current clues
  packages/_pipeline/notes_pipeline/stages/clues-by-sam.lark
  packages/_pipeline/notes_pipeline/stages/clues_by_sam_grammar.py
Due: none

Rename STATUS to ID
  packages/_pipeline/notes_pipeline/stages/clues-by-sam.lark
Due: none

Remove redundant cell
  packages/_pipeline/notes_pipeline/stages/clues_by_sam_grammar.py
Due: none

Update parser for 2026-06-18
  packages/_pipeline/notes_pipeline/stages/clues-by-sam.lark
  packages/_pipeline/notes_pipeline/stages/clues_by_sam_grammar.py
Due: none

Re-order rules
  packages/_pipeline/notes_pipeline/stages/clues-by-sam.lark
Due: none

Shorten parity
  packages/_pipeline/notes_pipeline/stages/clues-by-sam.lark
Due: none

Support different vault name, remove chat configs from workspace settings.
  .vscode/settings.json
  packages/_pipeline/notes_pipeline/models/paths.py
Due: none

Fix npm build/watch issues
  .vscode/tasks.json
  package-lock.json
  package.json
  scripts/Watch-TemplateScripts.ps1
  scripts/proj.just
  tsconfig.json
Due: pytest-fast-only

Fix all auto-fixable problems introduced by Ty/Ruff updates and Taplo config change
  .taplo.toml
  data/deprecated/print_title_statistics.py
  docs/conf.py
  notebooks/sunshine.ipynb
  packages/_dev/notes_dev/__init__.py
  packages/_pipeline-helper/pipeline_helper/paths.py
  packages/_pipeline-helper/pipeline_helper/sync_dvc/__main__.py
  packages/_pipeline/notes_pipeline/models/generated/types/__init__.py
  packages/_pipeline/notes_pipeline/models/paths.py
  packages/_pipeline/notes_pipeline/stages/diff_note.py
  packages/_pipeline/notes_pipeline/stages/plan_week.py
  packages/_pipeline/pyproject.toml
  pyproject.toml
  src/notes/generate_report.py
  src/notes/pomodouroboros_at_home.py
  src/notes/todo.py
  src/notes/toggl.py
  tests/test_notes.py
  uv.lock
Due: fawltydeps-src, fawltydeps-dev, fawltydeps-pipeline, pytest-fast-only

Suppress new type errors for now
  packages/_dev/notes_dev/docs/docstrings.py
  packages/_dev/notes_dev/tools/environment.py
  packages/_pipeline-helper/pipeline_helper/models/column.py
  packages/_pipeline-helper/pipeline_helper/models/params/types.py
  packages/_pipeline-helper/pipeline_helper/sync_dvc/__main__.py
  packages/_pipeline/notes_pipeline/data.py
  packages/_pipeline/notes_pipeline/stages/clues_by_sam.py
  packages/_pipeline/notes_pipeline/stages/clues_by_sam_grammar.py
  packages/_pipeline/notes_pipeline/stages/plan_week.py
  packages/_pipeline/notes_pipeline/sync_lists.py
  packages/my_shortcuts/my_shortcuts/actions.py
  src/notes/literature_common.py
  src/notes/pomodouroboros_at_home.py
  src/notes/win.py
Due: fawltydeps-src, fawltydeps-dev, pytest-fast-only

Generate regular expression to remove completed items from the plan
  .gitignore
  notebooks/sunshine.ipynb
  notebooks/sync_bullet_list.ipynb
  packages/_pipeline-helper/pipeline_helper/environment.py
  packages/_pipeline/notes_pipeline/models/generated/types/__init__.py
  packages/_pipeline/notes_pipeline/models/params.py
  packages/_pipeline/notes_pipeline/stages/plan_week.py
  pyproject.toml
  src/notes/generate_report.py
Due: fawltydeps-src, pytest-fast-only

Implement task pruning
  packages/_dev/notes_dev/tools/__main__.py
  packages/_pipeline/notes_pipeline/data.py
  packages/_pipeline/notes_pipeline/stages/plan_week.py
  pyproject.toml
Due: fawltydeps-src, fawltydeps-dev

Fix task demotion
  packages/_pipeline/notes_pipeline/stages/plan_week.py
Due: none

Reorganize
  packages/_pipeline/notes_pipeline/stages/plan_week.py
Due: none

Path conditions:
  fawltydeps-src: any of: (?x)^(
  pyproject\.toml
  |src/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  fawltydeps-dev: any of: (?x)^(
  packages/_dev/.*
  |docs/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  fawltydeps-pipeline: any of: (?x)^(
  packages/pipeline/pyproject\.toml
  |docs/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

  pytest-fast-only: any of: (?x)^(
  .*/pyproject\.toml
  |docs/.*
  |requirements/.*
  |scripts/.*
  |src/.*
  |tests/.*
)$
, but not: (?x)^(
  \.copier-answers\.yml
  |changelog/towncrier_template\.md\.jinja
  |lock.*\.json
)$

