Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: dvc-repro, pytest-fast-only, fawltydeps

dvc-repro:
  name: dvc-repro
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command python -m notes.models.params && dvc repro && dvc repro

pytest-fast-only:
  name: pytest-fast-only
  verbose: true
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

fawltydeps:
  name: fawltydeps
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command fawltydeps

Sync grad settings to personal settings
  dvc.lock
Due: dvc-repro

Generate report
  src/notes/generate_report.py
Due: dvc-repro, fawltydeps

Clean up proof of concept script
  src/notes/generate_report.py
Due: dvc-repro, fawltydeps

Refactor to clarify operation
  src/notes/generate_report.py
Due: dvc-repro, fawltydeps

Don't dvc repro on commit
  .pre-commit-config.yaml
Due: dvc-repro

Clarify further
  src/notes/generate_report.py
Due: dvc-repro, fawltydeps

Don't need shell
  src/notes/generate_report.py
Due: dvc-repro, fawltydeps

Sync personal settings to grad settings
  dvc.lock
Due: dvc-repro

Don't synchronize settings if there are pending changes
  .tools/requirements/requirements.txt
  pyproject.toml
  src/notes/stages/sync_settings.py
Due: dvc-repro, pytest-fast-only, fawltydeps

Clarify `get_changes`
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Parametrize tests with arguments
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/stages/sync_settings.py
  tests/notes_tests/__init__.py
  tests/notes_tests/conftest.py
  tests/notes_tests/test_notes.py
Due: dvc-repro, pytest-fast-only, fawltydeps

Raise exception when there are changes
  docs/index.md
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Allow `dvc.lock` to change.
  dvc.lock
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Commit
  dvc.lock
Due: dvc-repro

Make the "nothing to sync" path clearer
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Assign error code to "nothing to sync" path
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Clean up settings sync command
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Try this
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Sync settings
  dvc.lock
Due: dvc-repro

Assign special error code to changes pending error
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Reduce duplication
  dvc.lock
  src/notes/stages/sync_settings.py
Due: dvc-repro, fawltydeps

Repro
  dvc.lock
Due: dvc-repro

Path conditions:
  dvc-repro: any of: (?x)^(
  .*
)$

  pytest-fast-only: any of: (?x)^(
  pyproject\.toml
  src/.*
  |tests/.*
  |\.tools/requirements/.*
)$

  fawltydeps: any of: (?x)^(
  src/.*
  |pyproject\.toml
  |requirements\.txt
  |\.tools/requirements/.*
)$

