Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: compose-pyproject, pytest, pytest-slow, pyright

compose-pyproject:
  name: compose-pyproject
  language: system
  entry: pwsh -Command python .tools/scripts/compose_pyproject.py
  pass_filenames: false

pytest:
  name: pytest
  language: system
  entry: pwsh -Command pytest --run_skips false
  pass_filenames: false
  verbose: true

pytest-slow:
  name: pytest-slow
  language: system
  entry: pwsh -Command pytest
  pass_filenames: false
  verbose: true

pyright:
  name: pyright
  language: system
  entry: pwsh -Command pyright
  pass_filenames: false

Don't publish to PyPI
  .github/workflows/publish.yml
Due: none

Repro
  .dvc/.gitignore
  .dvc/config
  .dvcignore
  .vscode/tasks.json
  data/.dvcignore
  data/.gitignore
  dvc.lock
  dvc.yaml
  params.yaml
  src/notes/__init__.py
  src/notes/models/paths.py
  tests/data/cloud/schema/params_schema.json
Due: pytest, pyright

Synchronize to Google Drive
  .dvc/config
  .env
  pyproject.toml
  pytest.ini
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Delete CodeQL as it can't run privately
  .github/workflows/codeql.yml
Due: none

Update minimal data processing package shape
  .vscode/settings.json
  .vscode/tasks.json
  docs/dag.md
  dvc.yaml
  params.yaml
  params_schema.json
  src/notes/__init__.py
  src/notes/models/__init__.py
  src/notes/models/params.py
  src/notes/models/paths.py
  src/notes/stages/__init__.py
  src/notes/stages/schema.py
Due: pytest, pyright

Update test
  tests/__init__.py
  tests/conftest.py
  tests/test_notes.py
Due: pytest, pyright

Try this
  renovate.json
Due: none

Bump
  .copier-answers.yml
  .env
  .github/workflows/main.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .sourcery.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/Invoke-Pyright.ps1
  .tools/scripts/Update-Template.ps1
  .tools/scripts/compose_pyproject.py
  .tools/scripts/template_common.ps1
  .vscode/settings.json
  .vscode/tasks.json
  pyrightconfig.json
  pytest.ini
  pythonrc.py
  renovate.json
  tests/data/cloud/schema/params_schema.json
  tests/data/generate.py
  tests/test_notes.py
  update.ps1
Due: pytest, pytest-slow, pyright

Include proper extra in DVC action
  .pre-commit-config.yaml
Due: none

Bump project template and compose `pyproject.toml`.
  .copier-answers.yml
  docs/conf.py
Due: none

Manage common elements
  .tools/pyproject.toml
  data/common/.scripts/ConvertTo-ReportObsidian.ps1
  data/common/.scripts/ConvertTo-ReviewObsidian.ps1
  data/common/.scripts/Copy-SourcesFromClipboard.ps1
  data/common/.scripts/Get-SourceFromObsidian.ps1
  data/common/.scripts/Get-SourcesFromClipboard.ps1
  data/common/.scripts/LiteratureCommon.ps1
  data/common/.scripts/conf.py
  data/common/.scripts/find.py
  data/common/.scripts/get_sources_from_clipboard.ahk
  data/common/.scripts/historical/New-CslModel.ps1
  data/common/.scripts/historical/copy_filenames.ahk
  data/common/.scripts/historical/copy_filenames.py
  data/common/.scripts/historical/csl_models.py
  data/common/.scripts/historical/print_title_statistics.py
  data/common/.scripts/historical/readme.txt
  data/common/.scripts/historical/remove_at_from_notes.py
  data/common/.scripts/historical/rename_title_to_citekey.py
  data/common/.scripts/international-journal-of-heat-and-mass-transfer.csl
  data/common/.scripts/literature_common.py
  data/common/.scripts/preview.py
  data/common/.scripts/requirements.txt
  data/common/.scripts/watch.py
  data/common/.scripts/zotero.lua
  data/common/.vscode/launch.json
  data/common/.vscode/settings.json
  data/common/.vscode/tasks.json
  data/external/.dvcignore
  data/external/.gitignore
  data/local/.gitignore
  pyproject.toml
  pyrightconfig.json
Due: compose-pyproject, pytest-slow, pyright

Synchronize common vault data
  .pre-commit-config.yaml
  .sourcery.yaml
  .vscode/tasks.json
  docs/conf.py
  docs/dag.md
  docs/index.md
  dvc.lock
  dvc.yaml
  params.yaml
  params_schema.json
  pyproject.toml
  requirements.txt
  src/notes/__init__.py
  src/notes/models/paths.py
  src/notes/stages/update_common.py
  tests/conftest.py
  tests/test_notes.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Add local hook to CI exclusions
  .pre-commit-config.yaml
Due: none

Synchronize common data properly to personal vault
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  dvc.lock
  dvc.yaml
  params.yaml
  params_schema.json
  src/notes/models/paths.py
  src/notes/stages/update_common.py
Due: pytest, pytest-slow, pyright

Make sure test data folder exists
  dvc.lock
  tests/conftest.py
Due: pytest, pyright

Don't actively bump deps
  .copier-answers.yml
  renovate.json
Due: none

Add environment variable to common files
  .pre-commit-config.yaml
  data/common/.env
  dvc.lock
  dvc.yaml
  params.yaml
  params_schema.json
  src/notes/models/paths.py
Due: pytest, pyright

Update logic
  dvc.lock
  src/notes/models/__init__.py
Due: pytest, pyright

Remove superfluous requirement
  .tools/requirements/requirements_both.txt
Due: pytest-slow, pyright

Ignore additional warnings associated with DVC's usage of the Google Drive API
  .env
  pytest.ini
Due: none

Update template digest to 0af9525
  .tools/scripts/Copy-Template.ps1
  .vscode/tasks.json
Due: none

Bump template
  .copier-answers.yml
  .env
  .gitignore
  .pre-commit-config.yaml
  .tools/pyproject.toml
  .tools/requirements/requirements_both.txt
  .vscode/settings.json
  dvc.lock
  pyproject.toml
  pyrightconfig.json
  pytest.ini
Due: compose-pyproject, pytest-slow, pyright

Update DVC-ignored files
  .dvcignore
  .vscode/settings.json
  dvc.lock
Due: none

repro
  dvc.lock
Due: none

Migrate to DVC 3
  _dvc.yaml
  docs/dag.md
  dvc.lock
  dvc.yaml
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Repro on DVC 3
  _dvc.yaml
  docs/dag.md
  dvc.lock
  dvc.yaml
Due: none

Bump DVC in pre-commit as well
  .pre-commit-config.yaml
Due: none

Ignore additional warnings
  .env
  pytest.ini
Due: none

Allow DVC to sync a folder in vaults, excluding from Obsidian Sync, e.g. notebooks.
  data/common/.gitignore
  data/external/.gitignore
  data/local/.gitignore
  data/local/vaults/grad/_dvc/notebooks.dvc
  data/local/vaults/personal/_dvc/notebooks.dvc
  dvc.lock
  dvc.yaml
  params.yaml
  params_schema.json
  src/notes/models/paths.py
Due: pytest, pyright

Commit the code workspace file
  .dvcignore
  .gitignore
  data/local/vaults/grad/.gitignore
  data/local/vaults/personal/.gitignore
  dvc.lock
  notes.code-workspace
Due: none

Try this
  data/local/vaults/personal/_dvc/notebooks.dvc
Due: none

Remove gitignores
  data/local/vaults/grad/.gitignore
  data/local/vaults/personal/.gitignore
Due: none

Try this
  data/local/.gitignore
  data/local/vaults/grad/_dvc/notebooks.dvc
  data/local/vaults/personal/_dvc/notebooks.dvc
Due: none

Properly implement ignores for Git- and DVC-tracked files in vaults
  data/external/.gitignore
  data/local/.gitignore
  data/local/vaults/grad/_external/dvc/test.dvc
  data/local/vaults/grad/_external/git/notebooks/test.ipynb
  data/local/vaults/personal/_external/dvc/test.dvc
  docs/dag.md
Due: none

Path conditions:
  compose-pyproject: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/pyproject.toml
)$

  pytest: any of: (?x)^(
  src/.*
  |tests/.*
)$

  pytest-slow: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pyright: any of: (?x)^(
  src/.*
  |tests/.*
  |pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

