Repository blakeNaccarato/notes: changes, and which pre-commit hooks are due for each by the changed paths.
All: synchronize-params, compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Path conditions:
  synchronize-params: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
)$

  compose-pyproject: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/pyproject.toml
)$

  pyright: any of: (?x)^(
  src/.*
  |tests/.*
  |pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pytest-slow-only: any of: (?x)^(
  src/.*
  |tests/.*
)$


Sync grad settings to personal settings
  dvc.lock
Due: none

Sync personal settings to grad settings
  dvc.lock
Due: none

Sync personal settings
  dvc.lock
Due: none

Remove external. Repro
  .dvc/config
  docs/_static/dag.md
  docs/dag.md
  docs/index.md
  dvc.lock
  params.yaml
  src/notes/models/paths.py
Due: synchronize-params, pyright, pytest-slow-only

Perform bidirectional sync over two repros
  dvc.lock
  src/notes/stages/sync_settings.py
Due: pyright, pytest-slow-only

Repro twice due to bidirectional stages
  .pre-commit-config.yaml
Due: none

Always repro
  .pre-commit-config.yaml
  dvc.lock
Due: none

Add DVC hooks
  .pre-commit-config.yaml
Due: none

Fix spacing
  dvc.lock
  src/notes/stages/sync_settings.py
Due: pyright, pytest-slow-only

Actually fix it...
  .pre-commit-config.yaml
  dvc.lock
  src/notes/stages/sync_settings.py
Due: pyright, pytest-slow-only

Sync personal settings to grad settings
  dvc.lock
  params.yaml
Due: synchronize-params

Migrate DVC remotes
  .dvc/.gitignore
  .dvc/config
  dvc.lock
  dvc.yaml
  params.yaml
Due: synchronize-params

Bump boilercore
  .tools/requirements/requirements_ci.txt
Due: pyright, pytest-fast-only

Decouple package from DVC, make tests installable
  .nest_tools_config
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/Update-Boilercore.ps1
  .vscode/settings.json
  dvc.lock
  pyproject.toml
  root
  tests/notes_tests/__init__.py
  tests/notes_tests/conftest.py
  tests/notes_tests/test_notes.py
  tests/pyproject.toml
Due: compose-pyproject, pyright, pytest-fast-only, pytest-slow-only

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
  .vscode/tasks.json
Due: pyright, pytest-fast-only

Repro settings
  dvc.lock
Due: none

Sync personal settings to grad settings
  pyproject.toml
  pytest.ini
Due: compose-pyproject, pyright, pytest-fast-only

Simplify root nest
  .root
  .vscode/settings.json
Due: none

Sync grad settings to personal settings
  dvc.lock
  params.yaml
Due: synchronize-params

Repro
  dvc.lock
Due: none

Update settings after removing calendar plugin
  dvc.lock
  dvc.yaml
  params.yaml
Due: synchronize-params
